<html>
<head>
  <meta charset="utf-8"/>
<title>Demo nodejs</title>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="socket.io/socket.io.js"></script>
<script src="xuly.js"></script>
<link rel="stylesheet" type="text/css" href="layout.css" />
</head>
<body>
  <div id="wrapper">
    <div id="loginForm">
      <h3>What's your name?</h3>
      <input type="text" id="txtusername" />
      <input type="button" id="btnregister" value="Register"/>
    </div>
    <div id="chatForm">
      <div id="left">
        <div id="boxTitle">
          Users Online
        </div>
            <div id="boxContent">                  
            </div>
      </div>
      <div id="right">
          <div id="sayHi">
            Hello <span id="currentUser">Teo</span>
            <input type="button" value="Logout" id="logout" />
          </div>
          <div id="listMessages">
          </div>
          <input type="text" id="txtMessage" />
          <input type="button" id="sendMess" value="Send"/>
      </div>
    </div>
  </div>

</body>
</html>
