#left{width: 30%; float: left; background-color: #f0f2d0}
#right{width: 70%; float: right; background-color: #d4f9f8}
#left, #right{min-height: 300px}
#listMessages{height: 200px}
#wrapper{width: 1000px}
